@model LivrariaControleEmprestimo.DATA.Models.VwLivroClienteEmprestimo

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalhes do empréstimo</h4>
    <hr />
    <div>
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id"> <i class="fa fa-edit"></i> Alterar</a>
        <a class="btn btn-primary" asp-action="Index"> <i class="fa fa-arrow-alt-circle-left"></i> Voltar</a>
    </div>
    <br />
    <div class="card">
        <div class="card-header">Dados pessoais</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.LceIdCliente)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.LceIdCliente)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliNome)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.CliNome)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliCpf)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.CliCpf)" />
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">Dados Livro</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.LceIdLivro)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.LceIdLivro)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.LivroNome)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.LivroNome)" />
                </div>
            </div>         
        </div>
    </div>

    <div class="card">
        <div class="card-header">Datas empréstimo</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.LceDataEmprestimo)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.LceDataEmprestimo)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.LceDataEntrega)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.LceDataEntrega)" />
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<td class="col-sm-2">
    @Html.DisplayNameFor(model => model.LceEntregue)
</td>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LceEntregue)
</dd>